USE [rbi]
GO
/****** Object:  Table [dbo].[TBL_63_SCC_DM_PWHT]    Script Date: 8/29/2019 10:11:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_63_SCC_DM_PWHT](
	[SVI] [int] NULL,
	[E] [int] NULL,
	[1D] [int] NULL,
	[1C] [int] NULL,
	[1B] [int] NULL,
	[1A] [int] NULL,
	[2D] [int] NULL,
	[2C] [int] NULL,
	[2B] [int] NULL,
	[2A] [int] NULL,
	[3D] [int] NULL,
	[3C] [int] NULL,
	[3B] [int] NULL,
	[3A] [int] NULL,
	[4D] [int] NULL,
	[4C] [int] NULL,
	[4B] [int] NULL,
	[4A] [int] NULL,
	[5D] [int] NULL,
	[5C] [int] NULL,
	[5B] [int] NULL,
	[5A] [int] NULL,
	[6D] [int] NULL,
	[6C] [int] NULL,
	[6B] [int] NULL,
	[6A] [int] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[TBL_63_SCC_DM_PWHT] ([SVI], [E], [1D], [1C], [1B], [1A], [2D], [2C], [2B], [2A], [3D], [3C], [3B], [3A], [4D], [4C], [4B], [4A], [5D], [5C], [5B], [5A], [6D], [6C], [6B], [6A]) VALUES (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, NULL)
INSERT [dbo].[TBL_63_SCC_DM_PWHT] ([SVI], [E], [1D], [1C], [1B], [1A], [2D], [2C], [2B], [2A], [3D], [3C], [3B], [3A], [4D], [4C], [4B], [4A], [5D], [5C], [5B], [5A], [6D], [6C], [6B], [6A]) VALUES (1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)
INSERT [dbo].[TBL_63_SCC_DM_PWHT] ([SVI], [E], [1D], [1C], [1B], [1A], [2D], [2C], [2B], [2A], [3D], [3C], [3B], [3A], [4D], [4C], [4B], [4A], [5D], [5C], [5B], [5A], [6D], [6C], [6B], [6A]) VALUES (10, 10, 8, 3, 1, 1, 6, 2, 1, 1, 4, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)
