USE [rbi]
GO
/****** Object:  Table [dbo].[TBL_204_DM_NOT_PWHT]    Script Date: 9/25/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_204_DM_NOT_PWHT](
	[CET-Tref] [float] NULL,
	[6.4] [float] NULL,
	[12.7] [float] NULL,
	[25.4] [float] NULL,
	[38.1] [float] NULL,
	[50.8] [float] NULL,
	[63.5] [float] NULL,
	[76.2] [float] NULL,
	[88.9] [float] NULL,
	[101.6] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBL_205_DM_PWHT]    Script Date: 9/25/2019 3:07:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_205_DM_PWHT](
	[CET-Tref] [float] NULL,
	[6.4] [float] NULL,
	[12.7] [float] NULL,
	[25.4] [float] NULL,
	[38.1] [float] NULL,
	[50.8] [float] NULL,
	[63.5] [float] NULL,
	[76.2] [float] NULL,
	[88.9] [float] NULL,
	[101.6] [float] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[TBL_204_DM_NOT_PWHT] ([CET-Tref], [6.4], [12.7], [25.4], [38.1], [50.8], [63.5], [76.2], [88.9], [101.6]) VALUES (56, 0, 0, 0, 0, 0, 0, 0.9, 1.1, 1.2)
INSERT [dbo].[TBL_204_DM_NOT_PWHT] ([CET-Tref], [6.4], [12.7], [25.4], [38.1], [50.8], [63.5], [76.2], [88.9], [101.6]) VALUES (44, 0, 0, 0, 0.8, 1.1, 2, 2, 2, 6)
INSERT [dbo].[TBL_204_DM_NOT_PWHT] ([CET-Tref], [6.4], [12.7], [25.4], [38.1], [50.8], [63.5], [76.2], [88.9], [101.6]) VALUES (33, 0, 0, 1, 2, 4, 9, 19, 36, 60)
INSERT [dbo].[TBL_205_DM_PWHT] ([CET-Tref], [6.4], [12.7], [25.4], [38.1], [50.8], [63.5], [76.2], [88.9], [101.6]) VALUES (56, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[TBL_205_DM_PWHT] ([CET-Tref], [6.4], [12.7], [25.4], [38.1], [50.8], [63.5], [76.2], [88.9], [101.6]) VALUES (44, 0, 0, 0, 0, 0, 0, 0, 0, 0.2)
INSERT [dbo].[TBL_205_DM_PWHT] ([CET-Tref], [6.4], [12.7], [25.4], [38.1], [50.8], [63.5], [76.2], [88.9], [101.6]) VALUES (33, 0, 0, 0, 0, 0, 0.5, 0.9, 1.1, 1.3)
